body{
    line-height: 1.5;
}
header{
    font-size: 20px;
    text-align: center;
    background-color: #07154c;
    padding: 15px 0;
}
a{
    color: white;
    text-decoration: none;
    margin-right:20px;
}
.first{
    color:#14b43a;
}
h1{
    font-size: 30px;
    text-align: center;
}
h2{
    text-align: center;
}
.second{
    width:175px;
    height:175px;
    background-color: #99D8CA;
    margin:40px auto;
    border:15px solid #5873E2;
    outline:8px solid #0D1430;
    box-shadow: 0 0 0 25px #90FF90; 
    border-radius: 3px 3px 3px 3px;
    box-sizing: border-box
}
.ex2{
    text-align: center;
}
.circle{
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}
.marker{
     width:18px;
     height: 18px;
     border-radius:50%;
     background-color: #99D8CA;
     vertical-align: center;
     display: inline-block;
     border: 2px solid black;
}
.Three{
    background-color: #5873E2;
}
.One{
    background-color: #0D1430;
}
.Two{
    background-color: #90FF90;
}
span{
    font-size: 25px;
}
hr{
    margin: 40px 170px;
    border: 2px  dotted gray;
}
.container{
    width: 600px;
    border:3px solid black;
    margin: 50px auto;
}
.child-container{
    width:180px;
    height:100px;
    margin:10px 8px;
    background-color: #DAE0FA;
    display:inline-block;
}
.container1{
    width: 600px;
    border:3px solid black;
    margin: 0 auto;
    margin-bottom: 120px;
}

.child-container-cont{
    width:180px;
    height:100px;
    margin:10px 8px;
    background-color: #DAE0FA;
    display:inline-block;
    box-sizing: border-box;
    border: 2px solid black;
}
.img01{
    width:600px;
    padding:3%;
    display:inline-block;
    float:left;    
}
.para1{
    width:700px;
    padding:3%;
    display: inline-block;   
}
p{
    font-size:25px;
}
h1{
    font-size:35px;
}
.read-more{
       font-size:20px;
       margin:5px;
       background-color:#14b43a;
       width:135px;
       border-radius:25px;
       box-sizing: border-box;
       padding:2%;
}
.img02{
    width:600px;
    float:right;
    display:inline-block;
    padding:6%;
    padding-top:7%;
}
.img03{
    width:600px;
    float:left;
    padding:4%;
    display:inline-block;
    padding-right:3%;
}
.learn-more{
    color: #14b43a;
    font-size:25px;
    text-decoration:underline;
}
.para3{
    width:600px;
    float:left;
    padding:4%;
    display:inline-block;
    padding-right:3%;
    padding-top: 0px;
}
.para4{
    width:600px;
    float:right;
    display:inline-block;
    padding:6%;
    padding-top:0px;
}





